<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
		<compilation debug="false" />
        <authentication mode="Forms">
            <forms>
                <credentials passwordFormat="Clear">
                    <user name="skadden" password="Chicago222" />
                </credentials>
            </forms>
        </authentication>
        <!-- Unless specified in a sub-folder's Web.config file, 
             any user can access any resource in the site -->
        <authorization>
            <deny users="?" />
        </authorization>
	</system.web>
	<system.webServer>
	 
		<!-- <handlers>
			<add name="SSINC-html" path="*.html" verb="*" modules="ServerSideIncludeModule" resourceType="File" />
		</handlers> -->

		<staticContent>
			<remove fileExtension=".eot"/>
      <remove fileExtension=".ttf"/>
      <remove fileExtension=".svg"/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".handlebars" mimeType="text/x-handlebars-template" />
			<mimeMap fileExtension=".mp4" mimeType="video/mp4" />
		</staticContent>

		<rewrite>
			<rewriteMaps>
				<rewriteMap name="StaticRedirects" defaultValue="">
					<add key="/" value="/index.html" />
				</rewriteMap>
			</rewriteMaps>
			<rules>
				<rule name="Redirect Rule" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{StaticRedirects:{REQUEST_URI}}" pattern="(.+)" />
					</conditions>
					<action type="Redirect" url="http://skadden.azurewebsites.net{C:1}" appendQueryString="true" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>
		<modules>
            <remove name="FormsAuthenticationModule" />
            <add name="FormsAuthenticationModule" type="System.Web.Security.FormsAuthenticationModule" />            
            <remove name="UrlAuthorization" />
            <add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule" />
        </modules>
	</system.webServer>
</configuration>
