// Variables
// --------------------------

$ico-font-path:        "../../../../../fonts" !default;
$ico-font-size-base:   14px !default;
$ico-css-prefix:       ico !default;
$ico-version:          "k7y606" !default;
$ico-border-color:     #eee !default;
$ico-inverse:          #fff !default;
$ico-li-width:         1 !default; //(30em / 14) !default;
$ico-icon-name: 		'clientName';
