<main class="main" rel="main">

  <h1>Main Site Templates</h1>
  <ul>
    <li><a href="home.html">Homepage</a></li>
    <li><a href="site-search-results.html">Search Results</a></li>
    <li><a href="people-detail.html">People Detail</a></li>
    <li><a href="people-detail-no-image.html">People Detail No Image</a></li>
    <li><a href="people-detail-alt-content.html">People Detail - With maximum Content</a></li>
    <li><a href="capabilities-landing.html">Capabilities Landing</a></li>
    <li><a href="capabilities-detail.html">Capabilities Detail</a></li>
    <li><a href="insights-detail.html">Insights Detail</a></li>
    <li><a href="locations-detail.html">Locations Detail</a></li>
    <li><a href="locations-detail-tokyo.html">Locations Detail - Tokyo</a></li>
    <li><a href="insights-landing.html">Insights Landing</a></li>
    <li><a href="professionals-landing.html">Professionals Landing</a></li>
    <li><a href="locations-landing.html">Locations Landing</a></li>
    <li><a href="careers-landing.html">Careers Landing</a></li>
    <li><a href="about-landing.html">About Landing</a></li>
    <li><a href="about-responsibility.html">About Social Responsibility</a></li>
    <li><a href="contact-us.html">Contact Us</a></li>
    <li><a href="staff-application.html">Staff Application</a></li>
    <li><a href="careers-detail.html">Careers Detail</a></li>
    <li><a href="about-diversity.html">About Diversity</a></li>
    <li><a href="general-content.html">General Content</a></li>
    <li><a href="news-rankings.html">News and Rankings</a></li>
    <li><a href="careers-opportunities.html">Careers Opportunities</a></li>
    <li><a href="careers-opportunity-detail.html">Careers Opportunity Detail</a> This also include components from the alumni specific job detail template</li>
    <li><a href="insights-detail-newsletter.html">Insights Detail Newsletter</a></li>
  </ul>

  <h1>Alumni Site Templates</h1>
  <ul>
    <li><a href="alumni-home.html">Alumni Homepage</a></li>
    <li><a href="alumni-directory.html">Alumni Directory</a></li>
    <li><a href="alumni-profile.html">Alumni Profile</a></li>
    <li><a href="alumni-profile-view.html">Alumni Profile - View</a></li>
    <li><a href="alumni-profile-edit.html">Alumni Profile - Edit</a></li>
    <li><a href="alumni-job-board.html">Alumni Job Board</a></li>
    <li><a href="alumni-cle-library.html">Alumni CLE Library</a></li>
    <li><a href="alumni-news-events.html">Alumni On The Move - news and events</a></li>
    <li><a href="alumni-spotlight-detail.html">Alumni Spotlight Detail</a></li>
    <li><a href="cle-verification.html">Alumni CLE Verification</a></li>
    <li><a href="alumni-contact-faqs.html">Alumni Contact / FAQs</a></li>
  </ul>


  <h1>Foundation Fellowship Templates</h1>
  <ul>
    <li><a href="foundation-home.html">Foundation Homepage</a></li>
    <li><a href="foundation-fellows-directory.html">Foundation Fellows </a></li>
    <li><a href="foundation-fellows-directory-view.html">Foundation Fellows Directory View</a></li>
    <li><a href="foundation-profile-detail.html">Foundation Profile Detail</a></li>
    <li><a href="foundation-news-stories.html">Foundation News Stories</a></li>
    <li><a href="foundation-news-detail.html">Foundation News Detail</a></li>
    <li><a href="foundation-generic-content.html">Foundation Generic Content</a></li>
    <li><a href="foundation-community-landing.html">Foundation Community Landing</a></li>
    <li><a href="foundation-facts-law-schools.html">Foundation Facts - Law Schools</a></li>
    <li><a href="foundation-facts-sponsor-orgs.html">Foundation Facts - Sponsoring Organizations</a></li>
    <li><a href="foundation-facts-governance.html">Foundation Facts - People Governance</a></li>
    <li><a href="foundation-job-board.html">Foundation Job Board</a></li>
    <li><a href="foundation-forum.html">Foundation Forum</a></li>
    <li><a href="foundation-forum-detail.html">Foundation Forum Detail</a></li>
    <li><a href="foundation-webinars.html">Foundation Webinars</a></li>
    <li><a href="foundation-webinar-detail.html">Foundation Webinar Detail</a></li>
    
  </ul>

</main>


