<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{#if title.page}}{{title.page}} | {{/if}}{{#if title.section}}{{title.section}} | {{/if}}{{site.title}}</title>
<meta name="description" content="{{site.description}}">

<meta property="og:url" content="{{og.url}}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{#if og.title}}{{og.title}}{{else}}{{site.title}}{{/if}}" />
<meta property="og:description" content="{{site.description}}" />
<meta property="og:image" content="{{og.image}}" />

<meta name="twitter:card" content="{{twitter.card}}">
<meta name="twitter:site" content="{{twitter.username}}">
<meta name="twitter:title" content="{{#if twitter.title}}{{twitter.title}}{{else}}{{site.title}}{{/if}}">
<meta name="twitter:description" content="{{site.description}}">
<meta name="twitter:image:src" content="{{twitter.image}}">
